.side-bar {
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 12px;
    padding: 40px 20px 0 20px;
    height: 660px;
}
.side-bar .all-employees i{
    color: rgba(218, 8, 8, 0.801);
    font-size: 33px;
}
.side-bar h4 {
    color: rgba(173, 172, 172, 0.788);
    margin: 30px 0;
}
.side-bar ul {
    margin-left: 0;
    padding-left: 0;
    margin-right: 10px;
}
.side-bar li {
    padding: 20px 0 20px 10px;
    font-size: 1em;
    list-style: none;
    border-radius: 6px;
}
.side-bar li:hover {
    background-color: rgba(231, 199, 199, 0.856);
}
.side-bar i {
    margin-right: 15px;
    font-size: 1.2em;
}
.add-project {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
}
.side-bar button {
    background-color: rgb(240, 93, 240);
    font-family: "Artifika";
    color: beige;
    border: 0;
    border-radius: 5px;
    padding: 15px 22px;
    font-size: 1.2em;
    font-weight: bolder;
}

@media screen and (max-width: 768px){
    .side-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 0;
        height: 310px;
        text-align: center;
    }
    .side-bar-wrapper{
        width: 100%;
        margin: 5px;
        height: 330px;
    }
    .side-bar .all-employees i{
        font-size: 17px;
        margin-top: 20px
    }
    .side-bar .all-employees span{
        font-size: 0
    }
    .side-bar h4 {
        margin: 2px 0;
        font-size: 8px
    }
    .side-bar ul {
        margin-right: 4px;
    }
    .side-bar li i{
        margin-right: 15px;
        font-size: 10px;
    }
    .side-bar li span{
        font-size: 0px;
    }
    .side-bar li {
        padding: 5px 0 5px 2px;
        border-radius: 3px;
    }
    .side-bar button {
        border-radius: 2px;
        margin-top: 10px;
        padding: 3px 4px;
        font-size: 4px;
    }
    .side-bar-projects {
        margin-top: 25px
    }
    .side-bar-projects li {
        padding: 0
    }
    .side-bar-status li {
        padding: 0;
    }
    .side-bar-status {
        margin-top: 35px
    }
}

@media screen and (max-width: 320px){
    .side-bar {
        height: 320px;
    }
    .side-bar-wrapper{
        height: 350px;
    }
    .side-bar h4 {
        font-size: 7px
    }
    .side-bar button {
        margin-top: 20px
    }
}