.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 4%;
}
.navigation .nav-brand i {
  color: rgba(218, 8, 8, 0.801)
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 3rem;
  box-sizing: border-box;

}
nav .nav-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4rem;
  width: 15%;
}
nav .brand-name {
  padding-left: 0.8rem;
}
nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
}
nav .nav-links span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
nav .nav-links span:hover {
  background-color: rgba(73, 156, 73, 0.24);
}
nav .active-link {
  border-bottom: 3px solid rgba(218, 8, 8, 0.801);
}
nav .icons {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .icons span{
  padding-left: 1.5rem;
  font-size: 20px;
}

@media screen and (max-width: 768px){
  .navigation {
    height: 50px;
  }
  .navigation nav {
    justify-content: space-between;  
    width: 100%;
    padding: 5px;
  }
  nav .nav-brand {
    font-size: 10px;
  }
  nav .brand-name {
    padding-left: 5px;
  }
  nav .nav-links span {
    padding: 15px 5px;
    font-size: 8px;
  }
  nav .active-link {
    border-bottom: 2px solid rgb(69, 172, 69);
  }
  nav .icons span{
    padding-left: 3px;
    font-size: 7px;
  }
}

@media screen and (max-width: 320px){
  .navigation {
    height: 38px;
  }
  nav .nav-brand {
    font-size: 9px;
  }
  nav .brand-name {
    padding-left: 4px;
  }
  nav .nav-links span {
    padding: 10px 4px;
    font-size: 6px;
  }
  nav .icons span{
    padding-left: 2px;
    font-size: 5px;
  }
}

@media screen and (width: 1024px){
  nav .nav-brand {
    font-size: 20px;
  }
  nav .brand-name {
    padding-left: 4px;
  }
  nav .nav-links span {
    padding: 26px 4px;
    font-size: 15px;
  }
  nav .icons span{
    padding-left: 5px;
    font-size: 12px;
  }  
}