.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1.3rem;
}
.sub-header span {
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(56, 52, 52);
}
.sub-header button {
  border: none;
  background-color: rgba(128, 255, 0, 0.288);
  padding: 0.6rem 1.8rem;
  border-radius: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-header button span {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .sub-header {
    padding: 0.3rem 0.2rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }
  .sub-header span {
    font-size: 0.7rem;
  }
  .sub-header button {
    padding: 0.3rem 1.2rem;
  }
  .sub-header button span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .sub-header {
    margin-bottom: 0.3rem;
    padding: 0.3rem 0 0.3rem 0.8rem;
  }
  .sub-header span {
    font-size: 0.5rem;
  }
  .sub-header button span {
    font-size: 0.4rem;
  }
}
