.home-wrapper {
  width: 85vw;
  box-sizing: border-box;
}
.overlay {
  height: 740px;
  width: 80vw;
  position: absolute;
  background-color: rgba(187, 183, 183, 0.384);
}
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 740px;
  border-radius: 0 0 10px 10px;
}

.fa-2x {
  font-size: 2em;
}
.fa-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #3f3e3e;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 740px;
  left: 0;
  width: 5.5%;
  overflow: hidden;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  /* z-index: 10; */
  padding-top: 2rem;
  box-sizing: border-box;
  border-radius: 0 0 0 10px;
}

.main-menu > ul {
  margin: 7px 0;
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  font-family: "Artifika";
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-size: 0.8rem;
  font-family: "Artifika";
  font-weight: bold;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Artifika";
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #615e5e;
  -webkit-transition: background 2s linear;
  transition: background 2s linear;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 94.5%;
  height: 100%;
  margin-left: 60px;
  padding: 2% 5%;
  box-sizing: border-box;
  border-radius: 0 0 10px 0;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    width: 92vw;
  }
  .content {
    min-height: 500px;
    height: 500px;
    border-radius: 0 0 5px 5px;
  }

  .fa-2x {
    font-size: 2em;
  }
  .fa-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 1rem;
  }

  .main-menu:hover,
  nav.main-menu.expanded {
    width: 150px;
    overflow: visible;
  }

  .main-menu {
    background: #3f3e3e;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 500px;
    left: 0;
    width: 5.5%;
  }
  .main-menu li {
    position: relative;
    display: block;
    width: 150px;
    font-family: "Artifika";
  }

  .main-menu li > a {
    font-size: 0.7rem;
  }

  .main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }

  .main-menu .nav-text {
    width: 180px;
  }
  .area {
    width: 94.5%;
    margin-left: 35px;
  }
}
@media screen and (max-width: 360px) {
  .overlay {
    height: 346px;
  }
}
@media screen and (width: 768px) {
  .overlay {
    height: 365px;
  }
}

@media screen and (max-width: 320px) {
  .overlay {
    height: 340px;
  }
}
@media screen and (max-width: 414px) {
  .overlay {
    height: 350px;
  }
}

@media screen and (width: 1024px) {
  .overlay {
    height: 790px;
  }
}
