body {
  background-color: rgba(202, 198, 198, 0.534);
  font-family: "Artifika";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  margin: 40px;
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
.nav-brand {
  font-weight: bolder;
  font-size: 30px;
}
.brand-name {
  padding-left: 15px;
}
.nav-links span {
  padding: 25px 15px;
  font-size: 20px;
}
.nav-links span:hover {
  background-color: rgba(73, 156, 73, 0.24);
}
.active-link {
  border-bottom: 4px solid rgb(69, 172, 69);
}
.icons span {
  padding-left: 15px;
  font-size: 20px;
}
.overlay {
  height: 720px;
  width: 80vw;
  position: absolute;
  background-color: rgba(187, 183, 183, 0.384);
}
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  width: 80vw;
}
.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  height: 10vh;
}
.sub-header span {
  font-size: 25px;
  font-weight: bolder;
}
.sub-header button {
  border: none;
  background-color: rgb(69, 172, 69);
  color: rgba(250, 235, 215, 0.74);
  height: 35px;
  width: 120px;
  border-top-right-radius: 30%;
}

.employees-section {
  display: grid;
  width: 92%;
  grid-template-columns: 35% 65%;
  padding: 0;
}
.side-bar {
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 12px;
  padding: 40px 20px 0 20px;
  height: 660px;
}
.side-bar h4 {
  color: rgba(173, 172, 172, 0.788);
  margin: 30px 0;
}
.side-bar ul {
  margin-left: 0;
  padding-left: 0;
  margin-right: 10px;
}
.side-bar li {
  padding: 20px 0 20px 10px;
  font-size: 1em;
  list-style: none;
  border-radius: 6px;
}
.side-bar li:hover {
  background-color: rgba(231, 199, 199, 0.856);
}
.side-bar i {
  margin-right: 15px;
  font-size: 1.2em;
}
.add-project {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
}
.side-bar button {
  background-color: rgb(240, 93, 240);
  color: beige;
  border: 0;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bolder;
}
.employees-info {
  margin-left: 10px;
}
.employee {
  display: grid;
  grid-template-columns: 7% 10% 32% 17% 17% 17%;
  font-size: 0.7em;
  padding: 20px 25px;
}
.employees-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.employee-header {
  font-weight: bolder;
}
.employee-body {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.842);
  margin-bottom: 10px;
}
.employee button {
  background-color: inherit;
  border: none;
  margin-right: 0;
  font-size: 1.8em;
}
.employee-body:hover {
  background-color: rgba(197, 193, 193, 0.336);
}
.employee-name {
  text-transform: capitalize;
}
.manage i {
  color: rgba(173, 172, 172, 0.788);
}
