body {
  background-color: rgba(202, 198, 198, 0.534);
  font-family: "Artifika";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  margin: 40px;
}
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 80px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
.nav-brand {
  font-weight: bolder;
  font-size: 30px;
}
.brand-name {
  padding-left: 15px;
}
.nav-links span {
  padding: 25px 15px;
  font-size: 20px;
}
.nav-links span:hover {
  background-color: rgba(73, 156, 73, 0.24);
}
.active-link {
  border-bottom: 4px solid rgb(69, 172, 69);
}
.icons span {
  padding-left: 15px;
  font-size: 20px;
}
.overlay {
  height: 750px;
  width: 80vw;
  position: absolute;
  background-color: rgba(187, 183, 183, 0.384);
}
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  width: 80vw;
}
.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  height: 10vh;
}
.sub-header span {
  font-size: 25px;
  font-weight: bolder;
}
.sub-header button {
  border: none;
  background-color: rgb(69, 172, 69);
  color: rgba(250, 235, 215, 0.74);
  height: 35px;
  width: 120px;
  border-top-right-radius: 30%;
}

.employees-section {
  display: grid;
  width: 92%;
  grid-template-columns: 35% 65%;
  padding: 0;
}
.side-bar {
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 12px;
  padding: 40px 20px 0 20px;
  height: 660px;
}
.side-bar .all-employees i{
  color: red;
  font-size: 33px;
}
.side-bar h4 {
  color: rgba(173, 172, 172, 0.788);
  margin: 30px 0;
}
.side-bar ul {
  margin-left: 0;
  padding-left: 0;
  margin-right: 10px;
}
.side-bar li {
  padding: 20px 0 20px 10px;
  font-size: 1em;
  list-style: none;
  border-radius: 6px;
}
.side-bar li:hover {
  background-color: rgba(231, 199, 199, 0.856);
}
.side-bar i {
  margin-right: 15px;
  font-size: 1.2em;
}
.add-project {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
}
.side-bar button {
  background-color: rgb(240, 93, 240);
  color: beige;
  border: 0;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bolder;
}
.employees-info {
  margin-left: 10px;
}
.employee {
  display: grid;
  grid-template-columns: 7% 10% 32% 17% 17% 17%;
  font-size: 0.7em;
  padding: 20px 25px;
}
.employees-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.employee-header {
  font-weight: bolder;
}
.employee-body {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.842);
  margin-bottom: 10px;
}
.employee button {
  background-color: inherit;
  border: none;
  margin-right: 0;
  font-size: 1.8em;
}
.employee-body:hover {
  background-color: rgba(197, 193, 193, 0.336);
}
.employee-name {
  text-transform: capitalize;
}
.manage i {
  color: rgba(173, 172, 172, 0.788);
}
.edit-modal button {
  background-color: rgb(240, 93, 240);
  font-size: 1em;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
}
.edit-modal form {
  font-size: 1.5em;
  margin: 30px 0;
}
.edit-modal form .label {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 30px;
}
.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.contact-us form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}
.contact-us label {
  display: grid;
  grid-template-columns: 40% 60%;
  font-size: 1.2em;
}
.contact-us textarea {
  height: 80px;
}
.contact-us .submit {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.contact-us .submit .btn {
  padding: 20px;
  background-color: rgb(240, 93, 240);
  margin: 20px;
  border: none;
}
.contact-us .submit .back {
  padding: 10px;
  border: none;
  background-color: rgb(64, 209, 175);
}
.delete-modal button {
  padding: 20px 50px;
  background-color: rgb(240, 93, 240);
  margin: 20px;
  border: none;
  font-size: 1em;
}

@media screen and (max-width: 768px){
  .app {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center
  } 
  .main-header {
    height: 120px;
  }
  .nav-bar {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .nav-brand {
    font-size: 25px;
  }
  .nav-links span {
    padding: 7px 8px;
    font-size: 13px;
  }
  .icons span {
    font-size: 12px;
  }
  .sub-header span {
    font-size: 18px;
  }
  .sub-header button {
    height: 20px;
    width: 120px;
    border-top-right-radius: 15%;
  }
  .side-bar {
    border-radius: 8px;
    padding: 20px 10px 0 10px;
    height: 660px;
  }
  .side-bar .all-employees{
    font-size: 0.8em;
    margin-bottom: 15px;
  }
  .side-bar .all-employees i{
    font-size: 10px;
  }
  .side-bar ul {
    margin-right: 5px;
  }
  .side-bar li {
    display: flex;
    flex-flow: column wrap;
    padding: 10px 0 10px 5px;
    font-size: 0.6em;
    list-style: none;
    border-radius: 6px;
  }
  .side-bar li:hover {
    background-color: rgba(231, 199, 199, 0.856);
  }
  .side-bar i {
    margin-right: 0;
    font-size: 1em;
  }
  .add-project {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
  }
  .side-bar button {
    background-color: rgb(240, 93, 240);
    color: beige;
    border: 0;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bolder;
  }
  .side-bar h4{
    font-size: 0.8em;
    padding: 0;
    margin: 0
  }
}