body {
  background-color: grey;
  height: 100vh;
  font-family: "Artifika";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  background-color: rgb(155, 154, 154);
  height: 80vh;
  width: 80vw;
}
.main-header {
  display: flex;
  height: 10vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.nav-bar {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  background-color: white;
  width: 100%;
  margin: 0;
}
.nav-brand {
  margin-right: auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  color: rgb(112, 106, 106);
}
.icons {
  display: flex;
  justify-content: flex-end;
  /* margin:  */
}
.icons span {
  padding-left: 10px;
}
.content{
  /* padding: 0 30px; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 80vw
}
.sub-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 10vh;
}
.employees-info img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}